/* navbar */
.navbar {
  height: 80px;
}
.navbar-brand{
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-brand img{
    width: 25px;
}

.navbar li{
    margin-right: 20px;
    text-transform: uppercase;
}

.form-control-primary{
    margin: 10px 0 0 -14px;
    opacity: 0.2;
    border-radius: 10px;
}

/* sidebar */
.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 1px solid #929090;
  }
  
  .left-sidebar {
    position: sticky;
    top:0;
    height: calc(100vh - 70px)
  }
  
  .sidebar-nav li .nav-link {
    color: #fff;
    font-weight: 500;
  }

  /* main */
  body {
    background-color: #1f1d1d;
    color: #fff;
  }
  
  main {
    padding-top: 90px;
  }

  .table-responsive{
      border-radius: 20px;
      background-color: #000;
  }

  .table {
    background-color: #000;
  }

  main h3{
    font-size: 1.1rem;
    margin-top: 40px;
    text-transform: uppercase;
  }

  main .card {
    background-color: #000;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  /* mobile display */
  @media (max-width: 600px) {
    .navbar {
      height: 110px;
    }

    .navbar-brand {
      margin: auto;
      text-align: center;
  }

  .navbar-brand img {
    width: 30px;
 }

.navbar li {
  visibility: hidden;
}

main h3{
  margin-top: 35px;
}
  }